{% extends 'base_administrativo.html' %}
{% load static %}
{% block title %}Áreas de Servicio{% endblock %}


{% block content %}
<h1>Áreas de Servicio</h1>

<a href="{% url 'area_create' %}" class="btn btn-success mb-3">Crear Nueva Área</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre del Área</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for area in areas %}
    <tr>
      <td>{{ area.nombre }}</td>
      <td>{{ area.descripcion }}</td>
      <td>
        <a href="{% url 'area_detail' area.pk %}" class="btn btn-info">Ver</a>
        <a href="{% url 'area_update' area.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'area_confirm_delete' area.pk %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
