{% extends 'dashboard_profesional.html' %}
{% load static %}

{% block title %}Detalle del Area{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h2 class="text-primary">Detalle del Area</h2>
        <p><strong>Nombre:</strong> {{ areas.nombre }}</p>
        <p><strong>Descripción:</strong> {{ areas.descripcion }}</p>

        <div class="button-container d-flex justify-content-between mt-4">
            <a href="{% url 'area_list_prof' %}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}
