<script>
    $(document).ready(function() {
        // Verificar si eventos_json está presente y no es una cadena vacía
        var eventosJson = '{{ eventos_json|safe }}';
        
        // Si eventosJson es una cadena vacía, asigna un array vacío
        var eventos = [];
        if (eventosJson) {
            try {
                eventos = JSON.parse(eventosJson);
            } catch (e) {
                console.error("Error al analizar el JSON de eventos:", e);
                eventos = [];  // Fallback a un array vacío en caso de error
            }
        }

        console.log("Eventos en el calendario:", eventos);

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            locale: 'es',
            events: eventos,
            editable: false,
            eventColor: '#007bff',
            eventTextColor: '#ffffff',
            displayEventTime: true
        });
    });
</script>
