<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Pacientes</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a FISIOEMA</h1>
        <h2>Dashboard Paciente</h2>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Agendamientos</a></li>
            <li><a href="#">Registros Medicos</a></li>
            <li><a href="#">Mas</a></li>
        </ul>
    </nav>
    
    <main>
        <h2>Pacientes</h2>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Agendamientos</a></li>
                <li><a href="#">Registros Medicos</a></li>
                <li><a href="#">Mas</a></li>
            </ul>
        </nav>
        
        
        <h2>Profesionales</h2>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Agendamientos</a></li>
            <li><a href="#">Registros Medicos</a></li>
            <li><a href="#">Mas</a></li>
        </ul>
        
        <h2>Recepcion</h2>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Agendamientos</a></li>
            <li><a href="#">Registros Medicos</a></li>
            <li><a href="#">Mas</a></li>
        </ul>
        
    </main>
    
    <footer>
        <p>&copy; 2024 Fisioema Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>