{% extends 'base_administrativo.html' %}
{% load static %}

{% block title %}Generar Consulta{% endblock %}

{% block content %}
    <h2 class="text-2xl font-semibold mb-4">Generar Consulta para {{ agendamiento.paciente.nombre }}</h2>
    <form method="post" class="bg-white p-4 rounded-lg shadow-md">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fecha_consulta" class="form-label">Fecha de Consulta</label>
            <input type="date" id="fecha_consulta" name="fecha_consulta" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="motivo_consulta" class="form-label">Motivo de la Consulta</label>
            <textarea id="motivo_consulta" name="motivo_consulta" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="diagnostico" class="form-label">Diagnóstico</label>
            <textarea id="diagnostico" name="diagnostico" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="tiene_sesiones" class="form-label">¿Tiene sesiones?</label>
            <input type="checkbox" id="tiene_sesiones" name="tiene_sesiones">
        </div>

        <!-- Sección para crear sesiones -->
        <div id="sesiones_form_section" style="display: none;">
            <h3 class="text-xl font-semibold mt-4">Detalles de Sesiones</h3>
            {{ sesiones_form.as_p }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar Consulta</button>
    </form>
    <a href="{% url 'calendario_admin' %}" class="btn btn-secondary mt-3">Volver al Calendario</a>

    <script>
        // Mostrar/ocultar el formulario de sesiones según el checkbox
        document.getElementById('tiene_sesiones').addEventListener('change', function() {
            const sesionesFormSection = document.getElementById('sesiones_form_section');
            if (this.checked) {
                sesionesFormSection.style.display = 'block';
            } else {
                sesionesFormSection.style.display = 'none';
            }
        });

        // Predefinir la fecha actual para el campo de fecha de consulta
        document.addEventListener('DOMContentLoaded', function() {
            var now = new Date();
            var year = now.getFullYear();
            var month = ('0' + (now.getMonth() + 1)).slice(-2);
            var day = ('0' + now.getDate()).slice(-2);
            var formattedDate = year + '-' + month + '-' + day;
            document.getElementById('fecha_consulta').value = formattedDate;
        });
    </script>
{% endblock %}
