{% extends 'base_admin.html' %}

{% block content %}
        $(document).ready(function() {
            // Parseamos la variable eventos_json para obtener la lista de eventos
            var eventos = JSON.parse('{{ eventos_json|safe }}');
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                locale: 'es',  // Configuración del idioma en español
                events: eventos,  // Cargamos los eventos desde la variable eventos
                editable: false,
                displayEventTime: true,  // Mostrar la hora de los eventos
                eventRender: function(event, element) {
                    if (event.estado === 'en_curso') {
                        element.css('background-color', '#28a745');  // Verde claro
                        element.css('border-color', '#28a745');
                        element.click(function() {
                            $('#mensaje').text('Ya se agendó la consulta.').show();
                        });
                    } else if (event.estado === 'finalizado') {
                        element.css('background-color', '#17a2b8');  // Azul claro
                        element.css('border-color', '#17a2b8');
                    }
                }
            });
        });
    </script>
{% endblock %}
