{% extends 'base_administrativo.html' %}
{% load static %}

{% block title %}Horarios de Atención{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Horarios de Atención - Turnos</h1>
        <a href="{% url 'calendario_admin' %}" class="btn btn-primary">Ver Calendario</a>
    </div>

    <a href="{% url 'horario_create' %}" class="btn btn-success mb-3">Crear Nuevo Horario</a>
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="profesional" class="form-control" placeholder="Buscar por profesional"
                    value="{{ request.GET.profesional }}">
            </div>
            <div class="col-md-4">
                <input type="text" name="servicio" class="form-control" placeholder="Buscar por servicio"
                    value="{{ request.GET.servicio }}">
            </div>
            <div class="col-md-4">
                <select name="turno" class="form-control">
                    <option value="">Todos los Turnos</option>
                    <option value="M" {% if request.GET.turno == "M" %}selected{% endif %}>Mañana</option>
                    <option value="S" {% if request.GET.turno == "S" %}selected{% endif %}>Siesta</option>
                    <option value="T" {% if request.GET.turno == "T" %}selected{% endif %}>Tarde</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <a href="{% url 'horario_list' %}" class="btn btn-secondary ms-2">Limpiar</a>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Profesional</th>
                <th>Servicio</th>
                <th>Día</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Turno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in object_list %}
            <tr>
                <td>{{ horario.profesional }}</td>
                <td>{{ horario.servicio }}</td>
                <td>{{ horario.fecha }}</td>
                <td>{{ horario.hora_inicio }}</td>
                <td>{{ horario.hora_fin }}</td>
                <td>{{ horario.get_idturno_display }}</td>
                <td>
                    <a href="{% url 'horario_detail' horario.pk %}" class="btn btn-info btn-sm">Visualizar</a>
                    <a href="{% url 'horario_update' horario.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'horario_delete' horario.pk %}" class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Estás seguro de que deseas eliminar este horario?');">
                       Eliminar
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay horarios disponibles.</td> <!-- Ajustamos colspan a 7 por la nueva columna -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include "paginacion_parcial.html" %}
{% endblock %}

{% block extra_js %}
    <!-- Bootstrap 5 Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
