{% extends 'dashboard_paciente.html' %}
{% load static %}

{% block title %}Horarios de Atención{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Horarios de Atención - Turnos</h1>
        <a href="{% url 'calendario_admin' %}" class="btn btn-primary">Ver Calendario</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Profesional</th>
                <th>Servicio</th>
                <th>Día</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Turno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in object_list %}
            <tr>
                <td>{{ horario.profesional }}</td>
                <td>{{ horario.servicio }}</td>
                <td>{{ horario.fecha }}</td>
                <td>{{ horario.hora_inicio }}</td>
                <td>{{ horario.hora_fin }}</td>
                <td>{{ horario.get_idturno_display }}</td>
                <td>
                    <a href="{% url 'horario_detail_paciente' horario.pk %}" class="btn btn-info btn-sm">Visualizar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay horarios disponibles.</td> <!-- Ajustamos colspan a 7 por la nueva columna -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
    <!-- Bootstrap 5 Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
