{% extends 'base_administrativo.html' %}
{% load static %}
{% block title %}Lista de Profesionales{% endblock %}

{% block content %}
<h1>Lista de Profesionales</h1>

<a href="{% url 'profesional_create' %}" class="btn btn-success mb-3">Nuevo Funcionario</a>
<form method="get" class="mb-4">
  <div class="row">
      <div class="col-md-3">
          <input type="text" name="nombre" class="form-control" placeholder="Nombre" value="{{ request.GET.nombre }}">
      </div>
      <div class="col-md-3">
          <input type="text" name="apellidos" class="form-control" placeholder="Apellidos" value="{{ request.GET.apellidos }}">
      </div>
      <div class="col-md-3">
        <input type="text" name="especialidad" class="form-control" placeholder="Especialidad" value="{{ request.GET.especialidad }}">
      </div>
      <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Filtrar</button>
          <a href="{% url 'profesional_list' %}" class="btn btn-secondary">Limpiar</a>
      </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Registro Profesional</th>
      <th>Especialidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for profesional in object_list %}
    <tr>
      <td>{{ profesional.nombre }}</td>
      <td>{{ profesional.apellidos }}</td>
      <td>{{ profesional.nrodocumento }}</td>
      <td>{{ profesional.registro_profesional }}</td>
      <td>{{ profesional.responsable_area}}</td>
      <td>
        <a href="{% url 'profesional_detail' profesional.pk %}" class="btn btn-info">Ver</a>
        <a href="{% url 'profesional_update' profesional.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'profesional_delete' profesional.pk %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "paginacion_parcial.html" %}
{% endblock %}
