<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesionales</title>
</head>
<body>
    <h1>Lista de Profesionales</h1>
    <ul>
        {% for profesional in object_list %}
            <li>
                <a href="{% url 'profesional_detail' profesional.pk %}">
                    {{ profesional.nombre }} {{ profesional.apellidos }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'profesional_create' %}">Nuevo Funcionario</a>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesionales</title>
</head>
<body>
    <h1>Lista de Profesionales</h1>
    <ul>
        {% for profesional in object_list %}
            <li>
                <a href="{% url 'profesional_detail' profesional.pk %}">
                    {{ profesional.nombre }} {{ profesional.apellidos }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'profesional_create' %}"> -->
