{% extends 'base_administrativo.html' %}
{% load static %}
{% block title %}Áreas de Servicio{% endblock %}


{% block content %}
<h1>Servicio Tarifas</h1>

<a href="{% url 'servicio_form' %}" class="btn btn-success mb-3">Crear Nueva Servicio</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>servicio</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for servicio in servicios %}
    <tr>
      <td>{{ servicio.nombre }}</td>
      <td>{{ servicio.monto }}</td>
      <td>
        <a href="{% url 'servicio_detail' servicio.pk %}" class="btn btn-info">Ver</a>
        <a href="{% url 'servicio_update' servicio.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'servicio_confirm_delete' servicio.pk %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
