{% extends 'dashboard_paciente.html' %}
{% load static %}
{% block title %}Áreas de Servicio{% endblock %}


{% block content %}
<h1>Servicio Tarifas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Servicio</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for servicio in servicios %}
    <tr>
      <td>{{ servicio.nombre }}</td>
      <td>{{ servicio.monto }}</td>
      <td>
        <a href="{% url 'servicio_detail_paciente' servicio.pk %}" class="btn btn-info">Ver</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
