body {
    background-color: #f3e5f5;
    color: #4a148c; 
}

.navbar, .card-header, .btn-primary {
    background-color: #7e57c2; 
}

.card {
    border-color: #9575cd;
}

.btn-primary {
    border-color: #5e35b1;
}

.form-control {
    border-color: #7e57c2;
}

a {
    color: #512da8;
}

a:hover {
    color: #311b92;
}
